@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
  font-family: 'Do Hyeon', sans-serif;
  overflow: hidden;
  background-color: #dbdbdb;
}
h1 {
  position: fixed;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

section {
  width: 100vw;
  height: 100vh;
  .cardItem {
    position: absolute;
    width: 200px;
    height: 120px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 31px rgba(0, 0, 0, 0.21);
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: right;
    &:nth-child(1) {
      background: linear-gradient(62deg, #fbab7e, #f7ce68);
    }
    &:nth-child(2) {
      background: linear-gradient(20deg, #ff5e7e, #ff99ac);
    }
    &:nth-child(3) {
      background: linear-gradient(160deg, #0093e9, #80d0c7);
    }
    &:nth-child(4) {
      background: linear-gradient(40deg, #fd1d1d, #833ab4);
    }
    &:nth-child(5) {
      background: linear-gradient(20deg, black 0%, #fc00ff 100%);
    }
  }
}

.buttonWrap {
  position: absolute;
  width: 100vw;
  text-align: center;
  bottom: 20px;
  button {
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    margin: 0 5px;
    padding: 10px 20px;
    z-index: 100;
    transition: all 0.3s ease-out;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
