body {
  width: 100vw !important;
  height: 100vh !important;
  background-image: url('../image/bg.jpg');
}
section.header {
  width: 100vw;
  height: 100vh;
  div {
    position: fixed;
    top: 0;
    width: inherit;
    height: inherit;

    &.star_1 {
      background-image: url('../image/star.png');
    }
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}
section.card {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('../image/bottom.png') no-repeat center bottom/100%;

  .cardImg {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    li {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 150px;
      padding: 10px;
      margin: 20px;
      // text-align: center;
      &:nth-child(1) {
        background: linear-gradient(45deg, #f7b733, #fc4a1a);
      }
      &:nth-child(2) {
        background: linear-gradient(45deg, #f7b733, #fc4a1a);
      }
      &:nth-child(3) {
        background: linear-gradient(45deg, #f7b733, #fc4a1a);
      }
      &:nth-child(4) {
        background: linear-gradient(45deg, #f7b733, #fc4a1a);
      }
      p {
        font-size: 20px;
        padding: 10px;
        border-bottom: 2px dotted #000;
      }
    }
  }
}
